fastapi
uvicorn
python-dotenv
pydantic
passlib[argon2]
argon2-cffi
python-multipart
python-jose[cryptography]

sqlalchemy
langchain
langchain-community
langchain-openai
chromadb
httpx
sentence-transformers
pymupdf
beautifulsoup4
pydantic-settings
openpyxl
langchain-ollama
langchain-chroma
langchain-huggingface

unstructured
langchain-google-genai
pandas
msoffcrypto-tool

